.error-page{
    /* background-image: url(""); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.error-page img{
    background-size: cover;
    object-fit: cover;
    height:300px;
}
.error-page p{
    font-size: 1.2rem;
    margin-top: -50px;
    font-weight: 400;
}
.error-page button{
    padding: 10px 25px 10px 25px;
    margin-left:100px;
    margin-top:20px;
    background-color: rgb(20, 150, 210);
    color:#fff;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid snow;
    cursor: pointer;
}
.error-page button:hover{
    background-color: aquamarine;
}